/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a simple test.
 */

params {
  samplesheet = '/path/to/samples/metadata.tsv'
  outdir = '/path/to/output/dir'
  genome = 'GRCh38'
  transcriptome = '/path/to/for/example/Homo_sapiens.GRCh38.all.rna.fa'
  STAR_index = 'generate'
  // remove next line or switch to true to include sponging analysis
  circRNA_only = true
}

profiles {
     standard {
        process.executor = 'local'
     }
     cluster {
        executor.queueSize = 10
        process.executor = 'slurm'
        process.cpu = '5'
	     process.memory = '50 GB'
     }
}
