/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test.
 */

params {
  samplesheet = '/nfs/home/students/l.schwartz/testset/samplesheet.tsv'
  out_dir ='/nfs/home/students/l.schwartz/testset/output'
  species='hsa'
  genome_version='hg38'
  gene_pred = '/nfs/data/TCGA_TGCT/circrna_sponging_pipeline/input/references/hg38_ref_all.txt'
  fasta = '/nfs/data/TCGA_TGCT/circrna_sponging_pipeline/input/references/hg38.fa'
  transcriptome = '/nfs/home/students/l.schwartz/data/Human/transcriptome/Homo_sapiens.GRCh38.all.rna.fa'
  gtf = '/nfs/home/students/l.schwartz/data/Human/Homo_sapiens.GRCh38.104.gtf.gz'
  // sRNA options
  miRNA_fasta = '/nfs/data/TCGA_TGCT/circrna_sponging_pipeline/input/references/mature_ref.fa'
  hairpin_fasta = '/nfs/home/students/l.schwartz/platelets/resources/miRNA/human_hairpins.fa'
  miRNA_related_fasta = '/nfs/home/students/l.schwartz/platelets/resources/miRNA/mature_other.fa'
  bowtie_index = '/nfs/home/students/l.schwartz/platelets/output/bowtie_index/hg38'
  STAR_index = '/nfs/data/TCGA_TGCT/circrna_sponging_pipeline/output/circRNAs_from_fastq/star_index'
  database_annotation = true
  quantification = true
  differential_expression = true
  tarpmir = true
  pita = true
  sponge = true
  tpm = true
}

profiles {
     standard {
        process.executor = 'local'
     }

     cluster {
        executor.queueSize = 8
        process.executor = 'slurm'
        process.cpu = '8'
	      process.memory = '50 GB'
     }
}
