params {
  out_dir ='/nfs/home/students/l.schwartz/TGCT/output_PITA'
  species='hsa'
  genome_version='hg38'
  gene_pred = '/nfs/data/TCGA_TGCT/circrna_sponging_pipeline/input/references/hg38_ref_all.txt'
  fasta = '/nfs/data/TCGA_TGCT/circrna_sponging_pipeline/input/references/hg38.fa'
  transcriptome = '/nfs/home/students/l.schwartz/data/Human/Homo_sapiens.GRCh38.cdna.all.fa'
  samplesheet = '/nfs/home/students/l.schwartz/TGCT/resources/samplesheet.tsv'
  gtf = '/nfs/home/students/l.schwartz/data/Human/Homo_sapiens.GRCh38.104.gtf.gz'
  single_end = true
  mature_fasta = '/nfs/data/TCGA_TGCT/circrna_sponging_pipeline/input/references/mature_ref.fa'
  miRNA_raw_counts = '/nfs/data/TCGA_TGCT/circrna_sponging_pipeline/input/miRNA_raw_counts.tsv'
  STAR_index = '/nfs/data/TCGA_TGCT/circrna_sponging_pipeline/output/circRNAs_from_fastq/star_index'
  SALMON_index = '/nfs/home/students/l.schwartz/data/Human/human_sa_index'
  database_annotation = true
  annotated_only = true
  quantification = true
  differential_expression = false
  tarpmir = false
  pita = true
  pita_path = '/nfs/home/students/l.schwartz/software/PITA'
  model = '/nfs/home/students/l.schwartz/software/TarPmiR_Linux/models/Human_sklearn_0.22.pkl'
  sponge = false
}

process.container = ''
singularity.enabled = false
singularity.autoMounts = false


profiles {
     standard {
        process.executor = 'local'
     }

     cluster {
        executor.queueSize = 10
        process.executor = 'slurm'
        process.cpu = '8'
	     process.memory = '50 GB'
     }
}